sudo: required

language: python

env:
  global:
  - COMMIT=${TRAVIS_COMMIT::8}
  - TEAM=scieloorg
  - REPO_NAME=opac
  
services:
- docker

before_install:
- pip install docker-compose
- docker --version

script:
- make travis_compose_build
- make travis_compose_up
- make travis_compose_make_test
- make travis_run_audit

after_success:
- docker login -u="$DOCKER_USER" -p="$DOCKER_PASS" "$DOCKER_REGISTRY_SCIELO"
- docker build -t "$DOCKER_REGISTRY_SCIELO"/"$TEAM"/"$REPO_NAME":latest .
- docker push "$DOCKER_REGISTRY_SCIELO"/"$TEAM"/"$REPO_NAME":latest

notifications:
  slack: scielo:6YcYDMh1STDOQT8H7umVuD0R
